.App {
  text-align: center;
  border: 1px solid lightgrey;
  width: 310px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.output-input {
  background: #e0e0e0;
  width: 300px;
  height: 50px;
  text-align: right;
  padding: 5px;
  border: none;
  line-height: 50px;
}

.operation-wrapper {
  display: flex;
  flex-direction: row;
}

.operation-button {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #F5913E;
  color: white;
  cursor: pointer;
}

.other-button {
  width: 75%;
  background: #f1f1f1;
}

.span-generic {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
}

.span-other {
  width: 75px;
  float: left;
}

.span-zero {
  width: 152px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
